.navbar {
    background-color: #100f0f !important;
  }
  
  .nav-link, .navbar-brand {
    color: #026EBE !important;
  }
  
  .navbar-toggler {
    background-color: white !important;
  }
  
  a:hover {
    font-weight: 700;
  }
  
  .logo {
    width: 5rem;
  }