.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:  #026EBE;
    height: 1.5rem;
    text-align: center;
    border-top: 1px solid #00000026;
    z-index: 999;
    background-color: #100f0f !important;  
 }