<p-toast></p-toast>
<div class="userList-wrapper">
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Add User" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
            </ng-template>
        </p-toolbar>
    </div>
    <p-table [value]="users" dataKey="id" editMode="row" [paginator]="true" [rowHover]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="5" [showCurrentPageReport]="true"
	[rowsPerPageOptions]="[5,10,25]" >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName"></p-sortIcon>
                </th>
                <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon>
                </th>
                <th pSortableColumn="userName">User Name <p-sortIcon field="userName"></p-sortIcon>
                </th>
                <th pSortableColumn="city">City<p-sortIcon field="city"></p-sortIcon>
                </th>
                <th pSortableColumn="department">Department <p-sortIcon field="department"></p-sortIcon>
                </th>
                <th>Actions</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="firstName"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="lastName"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="userName"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="city"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="department"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="user">
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.firstName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.firstName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>{{user.lastName}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.city}}</td>
                <td>{{user.department}}</td>
                <td style="text-align:center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editUser(user)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteUser(user)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No users found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>



<!-- for edit the record -->

<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">First Name</label>
            <input type="text" [ngClass]="{'invalid': submitted && !user.firstName}" pInputText id="name" [(ngModel)]="user.firstName" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !user.firstName">First name is required.</small>
        </div>
        <div class="p-field">
            <label for="name">Last Name</label>
            <input type="text" [ngClass]="{'invalid': submitted && !user.firstName}" pInputText id="name" [(ngModel)]="user.lastName" required />
            <small class="p-invalid" *ngIf="submitted && !user.lastName">Last name is required.</small>
        </div>
        <div class="p-field">
            <label for="name">User Name</label>
            <input type="text" [ngClass]="{'invalid': submitted && !user.firstName}" pInputText id="name" [(ngModel)]="user.userName" required />
            <small class="p-invalid" *ngIf="submitted && !user.userName">User name is required.</small>
        </div>
        <div class="p-field">
            <label for="name">City</label>
            <input type="text" [ngClass]="{'invalid': submitted && !user.firstName}" pInputText id="name" [(ngModel)]="user.city" required />
            <small class="p-invalid" *ngIf="submitted && !user.city">City is required.</small>
        </div>
        <div class="p-field">
            <label for="name">Department</label>
            <input type="text" [ngClass]="{'invalid': submitted && !user.firstName}" pInputText id="name" [(ngModel)]="user.department" required />
            <small class="p-invalid" *ngIf="submitted && !user.department">Department is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>